:root {
    --white: #ffff;
    --green:#6bff35;
    --black: #070c05;
    --yelow: #eaff49;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    height: 100vh;
    padding: 10rem;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to right, var(--green),
        var(--black));
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    background: var(--white);
    width: 100%;
    max-width: 32rem;
    padding: 3rem 1rem;
    border-radius: 2rem;
    height: fit-content;
    
}



.container {
    margin-bottom: 1rem;
    text-align: center;
}

.logo {
    height: 10rem;
    margin: auto;
}

h1{
    color: #333;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.facebook {
    background-color: #3b5998;
}

.instagram {
    background-color: #e4405f;
}

.whatsapp {
    background-color: #25D366;
}

.social-icon:hover {
    opacity: 0.8;
}
