:root {
    --yelow: #eaff49;
    --green: #6BFF35;
    --black: #070c05;
}

body {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  height: 100vh;
  padding: 1rem;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--green);
  background: -webkit-linear-gradient(
    to right, var(--yelow),
    var(--green));
    background: linear-gradient(
        to right, var(--green),
        var(--black)
    );
}

.container {
    text-align: center;
}

h1{
    color: #333;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.facebook {
    background-color: #3b5998;
}

.instagram {
    background-color: #e4405f;
}

.whatsapp {
    background-color: #25D366;
}

.social-icon:hover {
    opacity: 0.8;
}
